<!DOCTYPE html>

<html>

<head>
    <title>Marble Race</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome/css/all.min.css') }}">
</head>

<body>
<div id="loading">
    <div class="loader-1">
        <span></span>
    </div>
    <p
</div>

<div class="container">
    <div class="row">
        <div class="table" id="example-table">

        </div>
    </div>
    <div class="row container bottom-bar">

        <div class="col-12">
            <div class="card">
                 <div class="card-header">
                     <h5 class="card-title">Race Control</h5>
                 </div>
                 <div class="card-body">
                    <a href="#" class="race-control btn btn-success" id="registerMarbles"><span class="fas fa-plus"></span> Register Marbles</a>
                    <a href="#" class="race-control btn btn-info" id="endRegisterMarbles"><span class="fas fa-stop"></span> End Registering</a>
                     <div style="width: 100px"  class="divider">

                     </div>
                    <a href="#" class="race-control btn btn-success" id="startRace"><span class="fas fa-play"></span> Start Race</a>
                    <a href="#" class="race-control btn btn-danger" id="stopRace"><span class="fas fa-stop"></span> Stop Race</a>
                    <a href="#" class="race-control btn btn-secondary" id="resetRace"><span class="fas fa-redo"></span> Reset Race</a>
                 </div>

                 <div class="card-footer">
                         <span>Status: <strong id="status">Idle</strong></span>
                     </div>
            </div>
        </div>
    </div>

</div>

<link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>


<script>

    var secondsMutator = function(value, data, type, params, component){
        //change age value into boolean, true if over the provided legal age
        if(value === 100000 || value === -1 || value === 0){
            return ("--")
        }
        else if(typeof value === 'string' || value instanceof String){
            return value
        }
        if (value !== undefined){
            return new Date(value * 1000).toISOString().substr(14, 8)
        }
    }

    var  best_lap_formatter = function(cell){
        var value = cell.getValue();

        //do anything you want here
        if(cell.getData().has_best_lap){
            $(cell.getElement()).css({"background":"#C463B6"});
        }
        else{
             $(cell.getElement()).css({"color":"red"});
        }

        //return the original value of the cell
        return value;
    }

    var difference_formatter = function(cell){
        var value = cell.getValue();

        //do anything you want here
        if(cell.getData().position !== 1){
            $(cell.getElement()).css({"color":"red"});
        }

        //return the original value of the cell
        return value;
    }



    $(document).ready(
        function (){
            var socket = io('/');

            buildTable = function (data){
                table.setData(data.marbles)
            }

              table = new Tabulator("#example-table", {
                layout:"fitColumns",
            columns:[
                {title:"Position", field: "position"},
                {title:"Farbe", field:"color", formatter: "color"},
                {title:"Name", field: "name", editor: "input"},
                {title:"Runde", field:"laps"},
                {title:"Letzte Rundenzeit", field:"last_lap_time", mutator: secondsMutator},
                {title:"Beste Rundenzeit", field:"best_lap_time" , formatter: best_lap_formatter, mutator: secondsMutator},
                {title:"Gesamtzeit", field:"overall_time" , mutator: secondsMutator},
                {title:"Differenz", field:"difference", formatter: difference_formatter, mutator: secondsMutator},

            ],
            cellEdited: function (cell) {
                    // This callback is called any time a cell is edited.
                    var datax = cell.getData();
                    var id = datax.id;
                    var name = datax.name;
                    socket.emit('changeName',
                        { 'id': id, 'name': name});

                }
            });

            $('#registerMarbles').click(function (){
               socket.emit('registerMarbles')
            });


            $('#startRace').click(function (){
               socket.emit('startRace')
            });

             $('#resetRace').click(function (){
               socket.emit('resetRace')
            });

            $('#stopRace').click(function (){
               socket.emit('stopRace')
            });

            $('#endRegisterMarbles').click(function (){
               socket.emit('endRegisterMarbles')
            });

            socket.on('table', function (data){

                buildTable(data);
               console.log(data);
            });

            socket.on('status', function (msg){
                $('#status').html(msg.status)
            });


            socket.emit('tableOnce');

        }
    );
/*
    let status = "idle"

    updateStatus = function (newstatus){
        status = newstatus
        if (newstatus === "idle"){

        }
        else if (newstatus === "registering"){

        }
        else if (newstatus === "racing"){

        }


    }

    getTable = function (){
         $.ajax({
              url: "/table",
              type: "get",
              success: function(response) {
                $("#table").html(response);
              },
              error: function(xhr) {
                //Do Something to handle error
            }
        });
    }


    $('#loading').bind('ajaxStart', function(){
        $(this).show();
    }).bind('ajaxStop', function(){
        $(this).hide();
    });


    $('#registerMarbles').click(function (){
       $.ajax({
           url: "/registerMarble",
           type: "get",
           success:function(response) {
               console.log(response);
               status = response.status;
                setInterval(function() {
                   getTable();
               }, 2000);
           },
           error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log(thrownError);
           }
       })
    });

      $('#startRace').click(function (){
       $.ajax({
           url: "/startRace",
           type: "get",
           success:function(response) {
               status = response.status;
               console.log(response);
           },
           error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log(thrownError);
           }
       })
    });


 */

</script>

</body>

</html>